/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* SECTION 1 */
h1{
    font-family: 'Fredoka One', cursive;
    padding-top: 50px;
    color: deeppink;
    font-size: 36px;
}

#centre-text, h1{
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

/* SECTION 2 */
div{
    width: 25%;
    float: left;
    background-color: black;
    color: white;
    height: 65px;
}
div::after{
    content: "";
    display: table;
    clear: both;
}

table, div{
    display: inline-block;

}

img{
    width: 65px;
    height: 65px;
}

.color-blue{
    color: cornflowerblue;
}

.flot-left{
    float: left;
}

.float-right{
    float: right;
}